<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Create Course</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Create course</h1>


    <form action="#" th:action="@{/course/create}" method="post">
        <!-- <input type="text" name= "teacher" placeholder= "Teacher" />-->
        <div>
            <!-- model should provide a list teachers (mb from legacy system??) -->
            add / remove teachers
        </div>
        <div>
            <!-- model should provide study programs -->
            add / remove study programs
        </div>
        <input type="number" name= "semester" placeholder= "Semester" min="0" step="1" class="form-control">
        <input type="text" name= "classCode" placeholder= "Class code" class="form-control">
        <div class="group">
            <input type="checkbox" id="mandatory" name="mandatory" />
            <label for="mandatory">Mandatory</label>
        </div>
        <input type="number" name= "ects" step="5" class="form-control" />
        <input type="text" name= "spokenLanguage" placeholder= "Spoken language" class="form-control" />
        <input type="number" name= "studentsMin" placeholder= "Students min" min="0" step="1" class="form-control" />
        <input type="number" name= "studentsMax" placeholder= "Students max" min="0" step="1" class="form-control" />
        <input type="number" name= "studentsExpected" placeholder= "Students Expected" min="0" step="1" class="form-control" />
        <input type="text" name= "prerequisites" placeholder= "Prerequisites" class="form-control" />
        <input type="text" name= "learningOutcome" placeholder= "Learning outcome" class="form-control" />
        <input type="text" name= "content" placeholder= "Content" class="form-control" />
        <input type="text" name= "learningActivities" placeholder= "Learning activities" class="form-control" />
        <input type="text" name= "examForm" placeholder= "Exam Form" class="form-control" />
        <input type="text" name= "titleEnglish" placeholder= "Title English" class="form-control" />
        <input type="text" name= "titleDanish" placeholder= "Title Danish" class="form-control" />


        <button class="btn btn-dark" type="submit">Create Course</button>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>