<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KEA Courses</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<th:block th:if="${role.name()} == 'STUDENT'">
    <div th:replace="fragments/student-navmenu :: student-navmenu"></div>
</th:block>

<th:block th:if="${role.name()} == 'TEACHER'">
    <div th:replace="fragments/teacher-navmenu :: teacher-navmenu"></div>
</th:block>

<th:block th:if="${role.name()} == 'ADMINISTRATOR'">
    <div th:replace="fragments/admin-navmenu :: admin-navmenu"></div>
</th:block>

<div class="container">
    <h1>KEA courses</h1>
    <hr>
    <form action="#" th:action="@{/course/search}" th:object="${courseSearch}" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input th:field="*{title}" type="text" class="form-control" id="title" />
        </div>
        <div class="form-group">
            <div>
                <input th:field="*{mandatory}" type="checkbox" id="mandatory">
                <label for="mandatory">Mandatory</label>
            </div>
            <div>
                <input th:field="*{elective}" type="checkbox" id="elective">
                <label for="elective">Elective</label>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <hr>
    <span th:unless="${courseSearch.courses.size() > 0}"><em>No search results to show.</em></span>
    <table class="table" th:if="${courseSearch.courses.size() > 0}">
        <thead>
            <tr>
                <th>Course</th>
                <th>Elective</th>
                <th>ECTS</th>
                <th>View</th>
                <th th:if="${role.name() != 'STUDENT'}">Action</th>
            </tr>
        </thead>
        <tbody>
        <th:block th:each="course : ${courseSearch.courses}">
            <tr>
                <td>
                    <span th:text="${course.titleDanish}"></span>
                    <span>&nbsp;/&nbsp;</span>
                    <span th:text="${course.titleEnglish}"></span>
                </td>
                <td th:text="${course.mandatory} ? 'Mandatory' : 'Elective'"></td>
                <td th:text="${course.ects}"></td>
                <td><a href="#" th:href="@{'/course/' + ${course.id} + '/view'}" class="btn btn-secondary" role="button">View</a></td>
                <td th:if="${role.name() == 'TEACHER'}"><a href="#" th:href="@{'/course/' + ${course.id} + '/update'}" class="btn btn-dark" role="button">Update</a></td>
                <td th:if="${role.name() == 'ADMINISTRATOR'}"><a href="#" th:href="@{'/course/' + ${course.id} + '/applications'}" class="btn btn-dark" role="button">Review applications</a></td>
            </tr>
            </th:block>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>