<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KEA Courses</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<th:block th:if="${role.name()} == 'STUDENT'">
    <div th:replace="fragments/student-navmenu :: student-navmenu"></div>
</th:block>

<th:block th:if="${role.name()} == 'TEACHER'">
    <div th:replace="fragments/teacher-navmenu :: teacher-navmenu"></div>
</th:block>

<th:block th:if="${role.name()} == 'ADMINISTRATOR'">
    <div th:replace="fragments/admin-navmenu :: admin-navmenu"></div>
</th:block>

<div class="container">
    <h1>Course information</h1>
    <table class="table table-bordered">
        <tr>
            <td><span>Name of the course in danish</span></td>
            <td><span th:text="${course.titleDanish}">{course.titleDanish}</span></td>
        </tr>
        <tr>
            <td><span>Name of the course in english</span></td>
            <td><span th:text="${course.titleEnglish}">{course.titleEnglish}</span></td>
        </tr>
        <tr>
            <!-- needs to support multiple options with for loop-->
            <td><span>Study Programs:</span></td>
            <td>
                <th:block th:each="studyProgram : ${#lists.sort(course.studyPrograms)}">
                    <div>
                        <span th:text="${studyProgram}">{studyProgram}</span>
                    </div>
                </th:block>
            </td>
        </tr>
        <tr>
            <td><span>Mandatory or Elective</span></td>
            <td><span th:text="${course.mandatory} ? 'Mandatory' : 'Elective'">{course.mandatory}</span></td>
        </tr>
        <tr>
            <td><span>ECTS</span></td>
            <td><span th:text="${course.ects}">{course.ects}</span></td>
        </tr>
        <tr>
            <td><span>Course language</span></td>
            <td><span th:text="${course.spokenLanguage}">{course.spokenLanguage}</span></td>
        </tr>
        <tr>
            <td><span>Minimum number of students</span></td>
            <td><span th:text="${course.studentsMin}">{course.studentsMin}</span></td>
        </tr>
        <tr>
            <td><span>Expected number of students</span></td>
            <td><span th:text="${course.studentsExpected}">{course.studentsExpected}</span></td>
        </tr>
        <tr>
            <td><span>Maximum number of students</span></td>
            <td><span th:text="${course.studentsMax}">{course.studentsMax}</span></td>
        </tr>
        <tr>
            <td><span>Prerequisites</span></td>
            <td><span th:text="${course.prerequisites}">{course.prerequisites}</span></td>
        </tr>
        <tr>
            <td><span>Learning outcome</span></td>
            <td><span th:text="${course.learningOutcome}">{course.learningOutcome}</span></td>
        </tr>
        <tr>
            <td><span>Content</span></td>
            <td><span th:text="${course.content}">{course.content}</span></td>
        </tr>
        <tr>
            <td><span>Learning activities</span></td>
            <td><span th:text="${course.learningActivities}">{course.learningActivities}</span></td>
        </tr>
        <tr>
            <td><span>Exam form</span></td>
            <td><span th:text="${course.examForm}">{course.examForm}</span></td>
        </tr>
        <tr>
            <!-- also needs to support multiple options -->
            <td><span>Teachers</span></td>
            <td>
                <th:block th:each="teacher : *{#lists.sort(course.teachers, #helpers.UserComparator.nameComparator)}">
                    <div>
                        <span style="padding-right: 3px; " th:text="${teacher.firstName}">{teacher.firstName}</span>
                        <span th:text="${teacher.lastName}">{teacher.lastName}</span>
                    </div>
                </th:block>
            </td>
        </tr>
    </table>
    <hr>

    <th:block th:if="${role.name()} == 'STUDENT'">
        <a href="#" class="btn btn-dark" type="button" th:href="@{'/course/' + ${course.id} + '/signup'}">Sign up</a>
    </th:block>

    <th:block th:if="${role.name()} == 'TEACHER'">
        <a href="#" class="btn btn-dark" type="button" th:href="@{'/course/' + ${course.id} + '/update'}">Update course</a>
    </th:block>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>