<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KEA Courses</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/student-navmenu :: student-navmenu"/>

<div class="container">
    <h1>Course information</h1>
    <table class="table table-bordered">
        <tr>
            <th>Name of the course in Danish</th>
            <td><span th:text="${course.titleDanish}"/></td>
        </tr>
        <tr>
            <th>Name of the course in English</th>
            <td><span th:text="${course.titleEnglish}"/></td>
        </tr>
        <tr>
            <!-- needs to support multiple options with for loop-->
            <th>Study Program. One or more of the following options:</th>
            <td><span th:text="${course.studyPrograms}"/></td>
        </tr>
        <tr>
            <th>Is mandatory</th>
            <td><span th:text="${course.mandatory}"/></td>
        </tr>
        <tr>
            <th>ECTS</th>
            <td><span th:text="${course.ects}"/></td>
        </tr>
        <tr>
            <th>Course language</th>
            <td><span th:text="${course.spokenLanguage}"/></td>
        </tr>
        <tr>
            <th>Minimum number of students</th>
            <td><span th:text="${course.studentsMin}"/></td>
        </tr>
        <tr>
            <th>Expected number of students</th>
            <td><span th:text="${course.studentsExpected}"/></td>
        </tr>
        <tr>
            <th>Maximum number of students</th>
            <td><span th:text="${course.studentsMax}"/></td>
        </tr>
        <tr>
            <th>Prerequisites</th>
            <td><span th:text="${course.prerequisites}"/></td>
        </tr>
        <tr>
            <th>Learning outcome</th>
            <td><span th:text="${course.learningOutcome}"/></td>
        </tr>
        <tr>
            <th>Content</th>
            <td><span th:text="${course.content}"/></td>
        </tr>
        <tr>
            <th>Learning activities</th>
            <td><span th:text="${course.learningActivities}"/></td>
        </tr>
        <tr>
            <th>Exam form</th>
            <td><span th:text="${course.examForm}"/></td>
        </tr>
        <tr>
            <!-- also needs to support multiple options -->
            <th>Teachers</th>
            <td><span th:text="${course.teachers}"/></td>
        </tr>
    </table>
    <hr>

    <th:block th:if="${role.name()} == 'STUDENT'">
        <a href="#" class="btn btn-dark" type="button" th:href="@{'/course/' + ${course.id} + '/signup'}">Sign up</a>
    </th:block>

    <th:block th:if="${role.name()} == 'TEACHER'">
        <a href="#" class="btn btn-dark" type="button" th:href="@{'/course/' + ${course.id} + '/update'}">Update course</a>
    </th:block>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>