<div th:fragment="admin-navmenu" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a th:text="${email}" class="navbar-brand" href="#">Email</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/course/search">Find course</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/application/signed-up">Applications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>
</div>