<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>KEA Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/admin-navmenu :: admin-navmenu"></div>

<div class="container">
    <h1><span th:text="'Applications for ' + ${course.titleDanish} + ' / ' + ${course.titleEnglish}"/></h1>
    <hr>
    <span th:unless="${applicationList.size() > 0}"><em>No students have any pending applications for this course.</em></span>
    <table th:if="${applicationList.size() > 0}" class="table">
        <thead>
        <tr>
            <th>Student</th>
            <th>Submitted at</th>
            <th>Accept</th>
            <th>Deny</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user_application : ${applicationList}">
            <tr>
                <td><span th:text="${user_application.student.firstName} + ' ' + ${user_application.student.lastName}"/></td>
                <td><span th:text="${user_application.submittedAt}"/></td>
                <td><a href="#" th:href="@{'/application/' + ${user_application.id} + '/accept'}" onclick="return confirm('Are you sure you want to accept?')" role="button" class="btn btn-success">Accept</a></td>
                <td><a href="#" th:href="@{'/application/' + ${user_application.id} + '/deny'}" onclick="return confirm('Are you sure you want to deny?')" role="button" class="btn btn-danger">Deny</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>